[submodule "male_zadania/zadanie3"]
	path = male_zadania/zadanie3
	url = https://github.com/chox7/Zadanie3.git

[submodule "zadanie_zaliczeniowe"]
	path = zadanie_zaliczeniowe
	url = https://github.com/chox7/Drugbank-Analysis

